.header{
    border: solid 3px black;
    background-color: #602828;
    border-radius: 10px;
    height: 105px;
    margin: -10px;
}
#logo{
    border-right: 3px solid black;
    width: 135px;
    border-radius: 2px;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: -15px;
}
#titel{
    position: relative;
    top: -30px;
    left: 475px;
    font-family: cursive;
    color: #F1F1F1;
    font-size: xx-large;
    font-weight: bolder;
    width: 500px;
}
.header a{
    color: white;
    font-family: cursive;
    font-size: x-large;
    text-decoration: none;
}
#bestellink{
    position: absolute;
    top: 40px;
    right: 170px;
}
#menulink{
    position: absolute;
    top: 40px;
    right: 300px
}
#infolink{
    position: absolute;
    top: 40px;
    right: 390px;
}
.header a:hover{
    color: #a8a8a8;
}
#titel:hover{
    color: #a8a8a8;
}
.banner{
    z-index: -1;
    position: absolute;
    top: -10px;
    left: 0px;
}
.banner img{
    width: 2300px;
    height: 1000px;

}
