body{
    background-color: #F1F1F1;
}
.content1{

    text-align: center;
    position: fixed;
    top: 200px;
    width: 2050px;
    margin-left: -10px;
    font-family: cursive;
    padding-bottom: 50px;

    color: white;
}
.content1 h1{
    font-weight: bold;
}
.content2{
    background-color: #FCEBB6;
    position: relative;
    top: 346px;
    width: 1025px;
    margin-left: -10px;
    border-top: black solid 2px;
    border-right: 2px black solid;
    float: left;
    z-index: 1;
    text-align: center;
}
.content3{
    background-color: #FCEBB6;
    position: relative;
    top: 200px;
    margin-right: -20px;
    width: 1025px;
    z-index: 0.5;
    float: right;
    text-align: center;
    border-top: black 2px solid;
}
p{
    font-family: arial;
}
a{
    color: #8a3a3a;
    font-family: cursive;
    font-size: larger;
    font-weight: bold;
    text-decoration: none;
}
a:hover{
    color: #602828;
    text-decoration: underline;
}