body{
    background-color: #F1F1F1;
}
.content1{

    text-align: center;
    position: fixed;
    top: 200px;
    width: 2050px;
    margin-left: -10px;
    font-family: cursive;
    padding-bottom: 50px;

    color: white;
}
.content1 h1{
    font-weight: bold;
}
.content2{
    background-color: #F1F1F1;
    position: relative;
    top: 346px;
    width: 2050px;
    margin-left: -10px;

    float: left;
    z-index: 1;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.content3{
    background-color: #F1F1F1;
    position: relative;
    top: 346px;
    margin-right: -20px;
    width: 2050px;
    z-index: 0.5;
    float: right;
    text-align: center;


    padding-bottom: 20px;
}
p{
    font-family: arial;
}
a{
    color: #8a3a3a;
    font-family: cursive;
    font-size: larger;
    font-weight: bold;
    text-decoration: none;
}
a:hover{
    color: #602828;
    text-decoration: underline;
}
.content2 hr{
margin-left: 300px;
margin-right: 300px;
}